# Servidor API
fastapi
uvicorn

# HTTP Requests
requests
python-dotenv

# Manejo de datos
pandas
dateparser

# Google Calendar y OAuth
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Opcional (si usas CSV y análisis extra)
openpyxl

apscheduler

